@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --blue-light: #3498db;
  --blue: #3498db;
  --blue-medium: #2980b9;
  --blue-dark: #4369b2;
  --contrast: #fbd918;
  --white: #fff8fc;
  --black: #2b2827;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: var(--white);
  background-color: var(--blue);
}

header {
  line-height: 50px;
  background-color: var(--blue);
  display: flex;
}

header > div:first-child,
header > div:last-child {
  width: 50px;
  text-align: center;
}

header a {
  color: var(--white);
}

header > div:nth-child(2) {
  width: calc(100% - 60px);
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
  display: block;
  padding-left: 20px;
  background-color: var(--blue);
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  padding: 0;
  text-align: right;
}

.picture-container {
  height: 150px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-container::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #2b2827b6;
  position: absolute;
  top: 0;
  left: 0;
  background-image:
    linear-gradient(
      90deg,
      var(--black) 0%,
      var(--blue-light) 100%
    );
  opacity: 0.7;
}

.picture-container > img {
  width: 100%;
}

.is-light {
  background-color: var(--blue);
}

.is-dark {
  background-color: var(--blue-medium);
}

.loading {
  font-size: 30px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 20px;
  line-height: 30px;
}

.loading > svg {
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animated {
  animation: appear 0.3s linear;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
